* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #fff;
  color: #000;
}

.header {
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 800;
}

.logo img {
  width: 100%;
  height: 80px;
  margin-bottom:0px;
}

.nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

.hero {
  padding: 100px 80px;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  text-align: center;
}

.hero p {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.catalog {
  padding: 80px;
}

.catalog h2 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 40px;
}

.card {
  padding: 20px;
  transition: 0.3s;
}

.card:hover {
  background: #000;
  color: #fff;
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  margin-bottom: 15px;
  filter: grayscale(100%);
  transition: 0.3s;
}

.card:hover img {
  filter: grayscale(0%);
}

.card h3 {
  font-size: 18px;
}

.card span {
  font-size: 14px;
  opacity: 0.7;
}

.footer {
  padding: 40px 80px;
  text-align: center;
  font-size: 14px;
}
